{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>TA Assignment Application</h1>
            </div>
            <div class="col-4">
              <b>Hello, </b>{{ user }}<br><br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            Command
            <form method="post" action="/">
                {% csrf_token %}
                 <div class="row">
                    <div class="col-8 col-sm-6">
                        <input type="text" name="command"/><br>
                    </div>
                    <div class="col-4 col-sm-6">
                        <input class = "btn btn-secondary btn-lg" type="submit"/>
                    </div>
                 </div>

            </form>

        </div>
    </div>


<div id="out">
    <hr>
    <b>Response:</b><pre>{{ response }}<br>{{ message }} </pre>
</div>

    <div id="out">
        <hr>
        <b>Commands: </b><small>{{ commands }}</small>
    </div>
{% endblock content %}